{% extends 'base.html' %}
{% block style %}
<style type="text/css">
    .hidden {
        display: none !important;
    }
</style>
{% endblock %}
{% block container %}
<form class="ui form">
    {% csrf_token %}
    <h3 class="ui dividing header">Artículo</h3>
    <div class="row field">
        <label>Sku</label>
        <div class="ui icon input">
            <input id="sku" autofocus maxlength="6" type="text" name="sku" placeholder="Ingrese un sku">
            <i class="buscar circular search link icon"></i>
        </div>
    </div>
    <div class="row field">
        <label>Nombre</label>
        <div class="ui fluid input">
            <input id="nombre" maxlength="15" name="nombre" placeholder="Ingrese un nombre" type="text">
        </div>
    </div>
    <div class="two fields">
        <div class="row field">
            <label>Marca</label>
            <div class="ui fluid input">
                <input id="marca" name="marca" maxlength="15" placeholder="Ingrese una marca" type="text">
            </div>
        </div>
        <div class="row field">
            <label>Modelo</label>
            <div class="ui fluid input">
                <input id="modelo" name="modelo" maxlength="20" placeholder="Ingrese un modelo" type="text">
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="row field">
            <label>Cantidad</label>
            <div class="ui fluid input">
                <input id="cantidad" name="cantidad" type="number">
            </div>
        </div>
        <div class="row field">
            <label>Stock</label>
            <div class="ui fluid input">
                <input id="stock" name="stock" type="number">
            </div>
        </div>
    </div>
    <div class="row field">
        <label>Departamento</label>
        <select id="departamento" name="departamento" class="ui fluid dropdown">
            <option value="">Seleccione una opción</option>
        </select>
    </div>
    <div class="row field">
        <label>Clase</label>
        <select id="clase" name="clase" class="ui fluid dropdown">
            <option value="">Seleccione una opción</option>
        </select>
    </div>
    <div class="row field">
        <label>Familia</label>
        <select id="familia" name="familia" class="ui dropdown">
            <option value="">Seleccione una opción</option>
        </select>
    </div>
    <div class="field">
        <div class="ui checkbox" style="display: none;">
            <input id="descontinuado" name="descontinuado" type="checkbox" tabindex="0">
            <label>Descontinuado</label>
        </div>
    </div>
    <button id="agregar" type="button" class="ui green button hidden">Agregar</button>
    <button id="actualizar" type="button" class="ui green button hidden">Actualizar</button>
    <button id="eliminar" type="button" class="ui red button hidden">Eliminar</button>
    <button id="cancelar" onclick="javascript:window.location.reload()" type="button" class="ui grey button hidden">Cancelar</button>
    <div class="ui error message"></div>
</form>
{% endblock %}

{% block js %}
<script>
    window.articuloExist = false;
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $('select.dropdown').dropdown();
    const inSku = document.querySelector("#sku");
    const nombre = document.querySelector("#nombre");
    const marca = document.querySelector("#marca");
    const modelo = document.querySelector("#modelo");
    const cantidad = document.querySelector("#cantidad");
    const stock = document.querySelector("#stock");
    const departamento = document.querySelector("#departamento");
    const clase = document.querySelector("#clase");
    const familia = document.querySelector("#familia");
    const descontinuado = document.querySelector("#descontinuado");
    const btnAgregar = document.querySelector("#agregar");
    const btnActualizar = document.querySelector("#actualizar");
    const btnEliminar = document.querySelector("#eliminar");
    const btnCancelar = document.querySelector("#cancelar");


    const getDepartamentos = () => {
        $.ajax({
            type: 'GET',
            url: `api/departamento/list`,
            success: (r) => {
                const opt = document.createElement('option');
                opt.text = "Seleccione una opción";
                opt.value = "";
                departamento.appendChild(opt);
                for (item of r?.data) {
                    const opt = document.createElement('option');
                    opt.value = item.id
                    opt.text = item.nombre;
                    departamento.appendChild(opt);
                }
            }
        });
    }

    const getClases = (pk) => {
        $.ajax({
            type: 'GET',
            url: `api/clase/list/${pk}`,
            success: (r) => {
                clase.innerHTML = '';
                const opt = document.createElement('option');
                opt.text = "Seleccione una opción";
                opt.value = "";
                clase.appendChild(opt);
                for (item of r?.data) {
                    const opt = document.createElement('option');
                    opt.value = item.id
                    opt.text = item.nombre;
                    clase.appendChild(opt);
                }
            }
        });
    }

    const getFamilias = (pk) => {
        $.ajax({
            type: 'GET',
            url: `api/familia/list/${pk}`,
            success: (r) => {
                familia.innerHTML = '';
                const opt = document.createElement('option');
                opt.text = "Seleccione una opción";
                opt.value = "";
                familia.appendChild(opt);
                for (item of r?.data) {
                    const opt = document.createElement('option');
                    opt.value = item.id
                    opt.text = item.nombre;
                    familia.appendChild(opt);
                }
            }
        });
    }

    getDepartamentos();


    const desabilitarInputs = () => {
        nombre.parentElement.parentElement.classList.add("disabled");
        marca.parentElement.parentElement.classList.add("disabled");
        modelo.parentElement.parentElement.classList.add("disabled");
        cantidad.parentElement.parentElement.classList.add("disabled");
        stock.parentElement.parentElement.classList.add("disabled");
        departamento.parentElement.parentElement.classList.add("disabled");
        clase.parentElement.parentElement.classList.add("disabled");
        familia.parentElement.parentElement.classList.add("disabled");
    }
    const habilitarInputs = () => {
        nombre.parentElement.parentElement.classList.remove("disabled");
        marca.parentElement.parentElement.classList.remove("disabled");
        modelo.parentElement.parentElement.classList.remove("disabled");
        cantidad.parentElement.parentElement.classList.remove("disabled");
        stock.parentElement.parentElement.classList.remove("disabled");
        departamento.parentElement.parentElement.classList.remove("disabled");
        clase.parentElement.parentElement.classList.remove("disabled");
        familia.parentElement.parentElement.classList.remove("disabled");
    }

    desabilitarInputs();

    const buscarArticulo = (sku) => {
        $.ajax({
            type: 'GET',
            url: `api/articulo/${sku}`,
            success: (r) => {
                // Actualizar
                inSku.parentElement.parentElement.classList.add("disabled");
                nombre.value = r?.data[0].nombre;
                marca.value = r?.data[0].marca;
                modelo.value = r?.data[0].modelo;
                cantidad.value = r?.data[0].cantidad;
                stock.value = r?.data[0].stock;
                departamento.value = r?.data[0].departamento_id;
                $("#departamento").trigger("change");
                setTimeout(() => {
                    clase.value = r?.data[0].clase_id;
                    $("#clase").trigger("change");
                }, 200);
                setTimeout(() => {
                    familia.value = r?.data[0].familia_id;
                    $("#familia").trigger("change");
                }, 400);
                habilitarInputs();
                btnActualizar.classList.remove("hidden");
                btnEliminar.classList.remove("hidden");
                btnCancelar.classList.remove("hidden");
                btnAgregar.classList.add("hidden");
                descontinuado.parentElement.style.display = null;
                descontinuado.checked = r?.data[0].descontinuado === 1 ? true:false;
            },
            error: (e) => {
                if (e.status === 404) {
                    // Agregar
                    habilitarInputs();
                    clase.parentElement.parentElement.classList.add("disabled");
                    familia.parentElement.parentElement.classList.add("disabled");
                    btnActualizar.classList.add("hidden");
                    btnEliminar.classList.add("hidden");
                    btnCancelar.classList.add("hidden");
                    btnAgregar.classList.remove("hidden");
                }
            }
        });
    }

    // Eventos 

    $(".buscar").on("click", function (e) {
        const sku = document.querySelector("#sku").value;
        if (articuloForm.element("#sku")) {
            buscarArticulo(sku);
        }
    });

    $("#departamento").on("change", function () {
        if (departamento.value) {
            getClases(departamento.value);
            clase.parentElement.parentElement.classList.remove("disabled");
            familia.parentElement.parentElement.classList.add("disabled");
            familia.innerHTML = '';
        }
    });

    $("#clase").on("change", function () {
        if (clase.value) {
            familia.parentElement.parentElement.classList.remove("disabled");
            getFamilias(clase.value);
        }
    });

    $("#agregar").on("click", function () {
        if ($(".ui.form").valid()) {
            $.ajax({
                type: 'post',
                url: 'api/articulo/create',
                data: $('.ui.form').serialize(),
                success: (r) => {
                    notification.success(r?.message);
                    btnAgregar.classList.add("disabled");
                    setTimeout(() => {
                        window.location.reload();
                    }, 1500)
                },
                error: (e) => {
                    notification.error(e?.responseJSON.message);
                }
            });
        }
    });

    $("#actualizar").on("click", function () {
        let data = $('.ui.form').serializeArray();
        const checked = document.querySelector("#descontinuado").checked;
        if (checked) data.push({ name: "descontinuado", value: 1 });
        else data.push({ name: "descontinuado", value: 0 });
        if ($(".ui.form").valid()) {
            $.ajax({
                type: 'put',
                url: 'api/articulo/update',
                data: data,
                success: (r) => {
                    notification.success(r?.message);
                    setTimeout(() => {
                        window.location.reload();
                    }, 1500);
                },
                error: (e) => {
                    notification.error(e?.responseJSON.message);
                }
            });
        }
    });

    $("#eliminar").on("click", function () {
        Swal.fire({
            title: `¿Está seguro de eliminar el artículo, ${nombre.value}?`,
            text: "No se podrá revertir los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#21ba45',
            cancelButtonColor: '#db2828',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((r) => {
            if (r.isConfirmed) {
                $.ajax({
                    type: 'delete',
                    url: `api/articulo/${sku.value}/delete`,
                    success: (r) => {
                        notification.success(r?.message);
                        setTimeout(() => {
                            window.location.reload();
                        }, 1500);
                    },
                    error: (e) => {
                        notification.error(e?.responseJSON.message);
                    }
                });
            }
        })
    });

    $("#stock").on("blur", function () {
        articuloForm.element("#cantidad"); 
    });

    // Validators

    jQuery.validator.addMethod("cantidad_valido", function(value, element) {
      return !(parseInt(value) > parseInt(stock.value));
   }, "La cantidad no debe ser mayor al stock");

    window.articuloForm = $(".ui.form")
        .validate({
            ignore: [],
            errorElement: "span",
            rules: {
                sku: {
                    required: true,
                    digits: true
                },
                nombre: {
                    required: true,
                },
                marca: {
                    required: true,
                },
                modelo: {
                    required: true,
                },
                cantidad: {
                    required: true,
                    digits: true,
                    maxlength: 9,
                    cantidad_valido: true
                },
                stock: {
                    required: true,
                    digits: true,
                    maxlength: 9
                },
                departamento: {
                    required: true,
                },
                clase: {
                    required: true,
                },
                familia: {
                    required: true,
                }
            },
            messages: {
                sku: {
                    required: "Este campo es requerido",
                    digits: "Sólo se aceptan dígitos"
                },
                nombre: {
                    required: "Este campo es requerido"
                },
                marca: {
                    required: "Este campo es requerido",
                },
                modelo: {
                    required: "Este campo es requerido",
                },
                cantidad: {
                    required: "Este campo es requerido",
                    digits: "Sólo se aceptan dígitos",
                    number: "Ingresa un número válido",
                    maxlength: "Máximo 9 dígitos"
                },
                stock: {
                    required: "Este campo es requerido",
                    digits: "Sólo se aceptan dígitos",
                    number: "Ingresa un número válido",
                    maxlength: "Máximo 9 dígitos"
                },
                departamento: {
                    required: "Seleccione una opción"
                },
                clase: {
                    required: "Seleccione una opción"
                },
                familia: {
                    required: "Seleccione una opción"
                },
            },
            errorPlacement: function (error, element) {
                error.addClass("ui basic red pointing prompt label transition");
                error.insertAfter(element.parent());
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".row").addClass(errorClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".row").removeClass(errorClass);
            }
        });
</script>
{% endblock %}